.main-div {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
mat-card {
    width: 350px;
    margin: 8px;
}

.title_info {
    width: 20%;
    margin: 5px;
}

.description_info {
    width: 60%;
    margin: 5px;
}