<div class="detail-contact">
    
      <mat-card-title>Contact us</mat-card-title>
      <mat-card-subtitle>We are always available to serve you!</mat-card-subtitle>
      <img mat-card-image class="main-image" src="../../assets/Nazneen-Images1.jpg" alt="Nazneen Image">
    <div>
        <mat-card >
            <mat-card-header>
              <mat-icon mat-card-avatar>phone</mat-icon>
              <mat-card-title>Phone Contact</mat-card-title>
              <mat-card-subtitle>Toll Free Number 1800 800 800</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                You can use our toll free number to call us 24 X 7 from anywhere in India.
                We are dedicated to serve you at your earliest.
              </p>
            </mat-card-content>
          </mat-card>

          <mat-card >
            <mat-card-header>
              <mat-icon mat-card-avatar>question_answer</mat-icon>
              <mat-card-title>Whats up meeting</mat-card-title>
              <mat-card-subtitle>Whatsup number 9323 232 232</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                You can send us whatsup message 24 X 7 from anywhere in India.
                We are respond you for your queries at the earliest.
              </p>
            </mat-card-content>
          </mat-card>

          <mat-card >
            <mat-card-header>
              <mat-icon mat-card-avatar>supervised_user_circle</mat-icon>
              <mat-card-title>In person meeting</mat-card-title>
              <mat-card-subtitle>Meet us at G.M.Momins College, Thane Road, Bhiwandi</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                You can meet us in person on any working days from Monday to Friday between 9am to 5pm at our address.
              </p>
            </mat-card-content>
          </mat-card>
        
          <mat-card >
            <mat-card-header>
              <mat-icon mat-card-avatar>email</mat-icon>
              <mat-card-title>Email Id</mat-card-title>
              <mat-card-subtitle>admin@nazneen.com</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                You can write to us on our email id. We will respond you at the earliest.
                It is advisable to call us or contact us on whatsup for immediate response.
              </p>
            </mat-card-content>
          </mat-card>

          <mat-card >
            <mat-card-header>
              <mat-icon mat-card-avatar>location_on</mat-icon>
              <mat-card-title>Address</mat-card-title>
              <mat-card-subtitle>Office Address</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                G.M. Momins Women College, Rais High School Campus, Thane Road, Gauripada, Bhiwandi.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
</div>

